################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnterpriseBilling.DataAccess/EnterpriseBilling_log.ldf
/EnterpriseBilling.DataAccess/EnterpriseBilling.mdf
